<%= simple_form_for(person) do |f| %>
    <%= f.input :name %>
    <%= f.input :age %>

    <div class="text-right mb-1">
        <button
            class="btn btn-sm btn-success"
            ic-post-to="/people"
            ic-target="#<%= f.options[:html][:id] %>"
            ic-replace-target="true"> Añadir mascota </button>
    </div>

    <div class="row">
    <%= f.fields_for :animals do |pet| %>
        <div class="col-sm-6 animal-form">
            <%= pet.input :name %>
            <%= pet.input :breed, collection: Animal.breds %>
            <%= pet.input :_destroy, as: :boolean, input_html: { 'ic-action': 'fadeOut', 'ic-action-target': 'closest .animal-form' } %>
            <hr>
        </div>
    <% end %>
    </div>

    <%= f.submit class: 'btn btn-block btn-lg btn-primary' %>
<% end %>
