<% if notice.present? %>
    <div class="alert alert-success"><%= notice %></div>
<% end %>

<h1>Personas</h1>

<table style="width: 100%">
  <thead>
    <tr>
      <th>nombre</th>
      <th>mascotas</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.animals.count %></td>
        <td>
          <%= link_to 'Editar', edit_person_path(person) %> |
          <%= link_to 'Eliminar', person, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-right">
    <%= link_to 'Nueva Persona', new_person_path, class: 'btn btn-primary' %>
</div>
